body
{
    font: 300 1em 'helvetica neue', helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    background: #f5f5f5;
}

nav, header, main, input, textarea, .n
{
    display: block;
}

a
{
    text-decoration: none;
    color: #48b;
}

h1
{
    max-width: 800px;
    margin: 0 auto;
    font-size: 150%;
}

h1, h1 > a
{
    color: #d14836;
}

h1 > a:hover
{
    text-shadow: 0 1px 0 #333;
}

h2, h2 > a
{
    color: #555;
}

h2 > a:hover
{
    color: #000;
}

h2
{
    border-bottom: 1px #ddd solid;
}

input, textarea
{
    font-size: 112%;
    margin: 4px;
    border-radius: 5px;
    border: 1px #999 solid;
    padding: 5px;
    clear: both;
    width: 400px;
    max-width: 90%;
    resize: vertical;
}

input[type=submit]
{
    width: auto;
}

input:focus, textarea:focus, main, .i
{
    border-color: #9b1;
    box-shadow: 0 2px 5px #bbb;
}

header, main
{
    width: 100%;
    margin: 0 auto 2%;
    max-width: 800px;
}

header > h1
{
    font-size: 250%;
}

nav
{
    float: right;
    padding: 3px;
}

li
{
    margin-left: -15px;
}

main
{
    padding: 2% 2% 4%;
    background: #fff;
}

time, .b, .g, .t, li b
{
    color: #7c1;
    display: inline-block;
}

time
{
    color: #999;
    font-size: 82%;
}

.b, .g, .t, nav > a
{
    border: 1px #ddd solid;
    border-bottom-color: #bbb;
    border-radius: 3px;
    background-color: #f5f5f5;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    padding: 5px 12px;
    font-size: 75%;
    font-weight: 600;
    color: #666;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
}

.b:hover, .t:hover, .g:hover
{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    color: #222;
}

.t, .t:hover, .g, .g:hover
{
    text-shadow: 0 1px 0 #666;
    color: #fff;
}

.t
{
    background-color: #2daebe;
}

.g
{
    background-color: #8add6d;
    border-color: #74bb5a #74bb5a #509438;
}

.w
{
    font-weight: 700;
    color: #f00;
}

.n
{
    background: #ffffa3;
    border: 1px #fff032 solid;
    padding: 3px 5px;
    border-radius: 7px;
    margin: 3px auto;
}

a[href^=user], nav > a[href^=user]
{
    background-position: 2px 40%;
    background-repeat: no-repeat;
    padding-left: 26px;
    border: none;
    color: #468;
}

.i
{
    max-width: 35%;
    max-height: 400px;
    height: auto;
    float: right;
    margin: 10px;
}
